[Unit]
Description=Heart Beat Client
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/terminals
ExecStart=/usr/bin/python /home/pi/terminals/HeartbeatClient.py > /dev/null 2>&1 &
Restart=always

[Install]
WantedBy=multi-user.target
