[Unit]
Description=Ping VPN server every certain time.
After=multi-user.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python /home/pi/terminals/pingtest.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
