[Unit]
Description=read temperature of cpu core 
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/scripts
ExecStart=/home/ubuntu/scripts/cpu_usage

[Install]
WantedBy=multi-user.target
